html, body {
  font-family: 'Montserrat', sans-serif;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

.custom-buttons {
  background-color: #6C63FF;
  border: none;
  color: #ffffff;
  font-family: inherit;
  border-radius: 4px;
  width: auto;
  padding: 6px 18px;
  text-transform: capitalize;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 20px 0;
  outline: none;
}

.input-boxes {
  padding: 6px 0;
  margin: 18px 0;
  width: 100%;
  outline: none !important;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #6C63FF;
  font-size: 14px;
  font-family: inherit;
  color: #525252;
  font-weight: bolder;
  border-radius: 0;
}

.admin-pages {
  height: 100%;
}

.admin-pages .top-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #6c63ff;
  padding: 20px;
  font-size: 14px;
  color: #fff;
}

.admin-pages .top-navbar .user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin-pages .top-navbar .user-profile .notifications {
  margin-right: 20px;
}

.admin-pages .second-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.admin-pages .second-navbar a {
  text-decoration: none;
  color: #525252;
  font-size: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eeeeee;
  padding: 7px;
  border-radius: 4px;
  margin: 10px;
  font-weight: bold;
  outline: none;
}

.admin-pages .second-navbar a svg {
  margin-left: 8px;
}

.pills {
  -webkit-box-shadow: 2px 2px 20px #e1e1e1;
          box-shadow: 2px 2px 20px #e1e1e1;
  padding: 10px 20px;
  border-radius: 8px;
  height: auto;
  margin: 40px 0;
}

.pills .table-name {
  color: #6C63FF;
  display: inline-block;
  margin: 10px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.pills-issue-count {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Raleway', sans-serif;
}

.pills-issue-count .comm-type-wrapper {
  background-color: #e1e1e1;
  margin: 5px 0;
  padding: 15px;
  border-radius: 5px;
}

.pills-issue-count .issue-category {
  color: #111111 !important;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 12px;
}

.pills-issue-count .counter-in-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pills-issue-count .counters {
  background-color: #6C63FF;
  height: 70px;
  width: 150px;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 3px;
}

.pills-issue-count .counters .counter-title {
  color: #fff;
  font-size: 12px;
}

.pills-issue-count .counters .count {
  color: #fff;
  font-size: 21px;
}

.index-page-wrapper {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  color: #525252;
}

.index-page-wrapper img {
  height: 200px;
  width: 200px;
}

.index-page-wrapper .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index-page-wrapper .login-form .login-inputs {
  margin: 30px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 2px 20px #e6e6e6;
          box-shadow: 2px 2px 20px #e6e6e6;
  padding: 40px 70px;
  border-radius: 8px;
  width: 100%;
}

.index-page-wrapper .login-form .forgot-pass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  width: 80%;
  padding: 0 30px;
}

.index-page-wrapper .login-form .forgot-pass a {
  text-decoration: none;
  color: orangered;
  margin-bottom: 5px;
  font-weight: bolder;
}

.index-page-wrapper .login-form .forgot-pass strong {
  font-size: 12px;
}

.admin-page-wrapper .admin-summary {
  margin-top: 20px;
}

.admin-page-wrapper .admin-summary .attendance-count-wrapper table {
  font-size: 14px;
  color: #525252;
}

.upload-document-notes {
  list-style-type: none;
  padding: 10px 0;
  background-color: #f1f3f8;
  border-radius: 6px;
  width: 100%;
  color: #ff7171;
  font-weight: bold;
}

.upload-document-notes li {
  padding: 0 20px;
  width: 100%;
  text-align: justify;
}

.uploaded-document-table svg {
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */