.admin-page-wrapper {
    .admin-summary {
        margin-top: 20px;

        .attendance-count-wrapper {
            table {
                font-size: 14px;
                color: #525252;
            }
        }
    }
}